.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    height: 49px;

    border: 1px solid rgb(224, 223, 223);
    padding: 4px 0;
    background-color: white;
    
    z-index: 100;
}



.left-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 49px;
}

.left-header img:hover {
    cursor: pointer;
}
.menu-icon {
    height: 24px;
    margin: 0 20px;
}
.logo-icon {
    height: 20px; 
}


.center-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    max-width: 500px;
    margin: 0 30px;
}

.search {
    height: 36px;
    width: 0;

    padding-left: 14px;
    border-radius: 1px;
    border: 1px solid rgb(224, 224, 224);
    font-size: 16px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.04);

    flex: 1;
}
.search::placeholder {
    font-size: 16px;
}
.search-button { 
    height: 40px;
    width: 67px;

    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(209, 209, 209);
    margin: 0 10px 0 -1px;
}
.search-icon {
    height: 24px;
}

.voice-button {
    height: 40px;
    width: 40px;

    border-radius: 20px;
    border: none;
    background-color: rgb(235, 235, 235);

}
.voice-icon {
    height: 24px;
}


.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    margin: 0 20px;
    width: 190px;
    
    position: relative;
}

.notifications {
    position: relative;
}
.notify-num {
    position: absolute;

    background-color: rgb(182, 0, 0);
    color: white;
    
    top: 0;
    right: 0;

    border: none;
    border-radius: 12px;
    padding: 1px 5px;

    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 500;
}
.upload-icon {
    height: 28px;
}
.apps-icon {
    height: 28px;
}
.notify-icon {
    height: 28px;
}
.channel-profile-pic {
    height: 32px;
    border-radius: 14px;
}



.search-button .hover-text,
.voice-button .hover-text,
.upload .hover-text,
.notifications .hover-text,
.youtube-apps .hover-text {
    position: absolute;
    
    background-color: grey;
    color: white;

    padding: 7px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -40px;
    
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .hover-text,
.voice-button:hover .hover-text,
.upload:hover .hover-text,
.notifications:hover .hover-text,
.youtube-apps:hover .hover-text {
    opacity: 1;
    cursor: pointer;
    transition: 0.14s;
}
.text-search,
.voice-search {
    position: relative;
}
.search-button,
.voice-button,
.upload,
.notifications,
.youtube-apps {
    display: flex;
    justify-content: center;
    align-items: center;
}