.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70px;
    top: 57px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);

    z-index: 200;
}
.side-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 74;
}
.side-bar-section:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    transition: 0.14s;
}
.side-bar-section div {
    font-size: 10px;
    margin-bottom: 20px;
}
.side-bar-section img {
    height: 24px;
    margin: 20px 0 4px 0;
}

