.previewimg1, .previewimg2 {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.vidtitle,.vidtitle1 {
    font-weight: bold;
}
.vidtitle, .vidtitle1 {
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
}
.vidsubtitle1, .vidadinfo1, .vidadinfo, .vidsubtitle {
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.profpic1 {
    border-radius: 40px;
    width: 36px;
    height: 36px;
    margin-top: 3px;
    cursor: pointer;
}
.gridpreview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 40px;
    position: static;
}
.gridtitle {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 4px;
}
.thumbnail2 {
    position: relative;
}
.timeicon {
    position: absolute;
    background-color: black;
    color: white;

    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 12px;

    bottom: 10px;
    right: 7px;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 1px;

}
