.video-info-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 40px;

    position: static;
}
@media (max-width: 770px) {
    .video-info-preview {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 870px) and (min-width: 999px) {
    .video-info-preview {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .video-info-preview {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-length {
    position: absolute;
    background-color: black;
    color: white;

    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 12px;

    bottom: 10px;
    right: 7px;

    padding: 2px 4px;
    border: none;
    border-radius: 1px;
}
.thumbnail {
    position: relative;
}
.thumbnail-preview {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}


.info-preview {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 4px;
}
.channel-image {
    border-radius: 40px;
    width: 36px;
    height: 36px;
    margin-top: 3px;
    cursor: pointer;
}
.video-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
    cursor: pointer;
}
.channel-name, .video-stats {
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}